@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(219 234 254);
    @media (max-width: 1000px) {
        font-size: 16px;
    }
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

.font-blue {
    color: #005fb8;
}

.border-left-blue {
    border-left: 2px solid #005fb8;
}

.fz-max {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 300;
}

.circle {
    border-radius: 50%;
    width: 380px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    @media (max-width: 400px) {
        width: 300px;
    }
}

.card-size {
    width: 600px;
    max-width: 100%;
    aspect-ratio: 1/0.65 ;
    @media (max-width: 1560px) {
        width: 400px;
    }
    @media (max-width: 1160px) {
        flex-direction: column;
    }
    @media (max-width: 600px) {
        width: 400px;
    }
    @media (max-width: 400px) {
        width: 300px;
    }
}

.content {
    display: flex;
    @media (max-width: 1160px) {
        flex-direction: column;
        
    }
    &__left {
        height: 100vh;
        width: 20%;
        min-height: 100vh;
        @media (max-width: 1160px) {
            width: 100%;
            height: 110px;
            min-height: 0;
        }
    }
    &__right {
        height: 100vh;
        width: 80%;
        min-height: 100vh;
        @media (max-width: 1160px) {
            width: 100%;
        }
    }
}

.circle_blue {
    background: linear-gradient(0, #005fb8 25%, white 25%);
}

.circle_red {
    background: linear-gradient(0, #c25d55 25%, white 25%);
}

.widget-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        margin-top: 100px
    }
}

.settings-button {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    cursor: pointer;
}

.settings-button:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.rounded-top {
    border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -ms-border-radius: 12px 12px 0 0;
    -o-border-radius: 12px 12px 0 0;
}

table.iksweb {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
table.iksweb th {
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
    background-color: #005fb8;
}
table.iksweb td {
    font-size: 13px;
    color: #354251;
}
table.iksweb td,
table.iksweb th {
    white-space: pre-wrap;
    padding: 10px 5px;
    height: 60px;
    line-height: 13px;
    vertical-align: middle;
    border: 0px solid #ffffff;
}
table.iksweb tr:hover {
    background-color: #f9fafb;
}
table.iksweb tr:hover td {
    color: #354251;
    cursor: default;
}

.scroll-body {
    overflow-y: scroll;
}

.scroll-body::-webkit-scrollbar {
    width: 0px;
    background-color: none;
}

.scroll-body::-webkit-scrollbar-thumb {
    background-color: #d8ecff;
}
